@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-white-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.title-section {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-color: transparent;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.backdrop {
  padding: 94px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 0;
  }
}

.modal {
  width: 100%;
  position: relative;
  background: var(--secondary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop__modal {
  padding: 40px;
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.close__icon:hover, .close__icon:focus {
  fill: var(--accent-color);
}
.close:hover .close__icon, .close:focus .close__icon {
  fill: var(--accent-color);
}

/* форма модального окна */
.modalForm__data {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modalForm__field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.modalForm__field input {
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.modalForm__field input:focus {
  outline: 1px solid var(--accent-color);
}

.modalForm__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modalForm__inputWrap {
  position: relative;
}

.modalForm__inputWrap input {
  width: 100%;
}

.modalForm__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

.modalForm__field input:focus + .modalForm__icon {
  fill: var(--accent-color);
}

.modalForm__textarea {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.modalForm__textarea textarea:focus {
  outline: 1px solid var(--accent-color);
}

.modalForm__textareaLabel {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

textarea {
  margin-top: 4px;
  resize: none;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modalForm__textarea textarea {
  padding: 12px 16px;
}

.modalForm__textarea textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modalForm__textarea textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modalForm__textarea textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modalForm__contract {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.modalForm__check {
  height: 1em;
  display: flex;
  align-items: center;
}

.modalForm__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modalForm__input:checked + .modalForm__checkbox {
  border: 2px solid #2196f3;
  background-color: var(--accent-color);
  background-image: url(../images/galka.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.modalForm__checkbox {
  width: 16px;
  height: 15px;
  background-color: white;
  border: 2px solid black;
  border-radius: 2px;
  display: flex;
  margin-right: 8px;
  cursor: pointer;
}

.modalForm__policy {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modalForm__policy {
    font-size: 14px;
  }
}

.modalForm__link {
  color: var(--accent-color);
}

.modalForm__buttonWrap {
  display: flex;
  justify-content: center;
}

.send {
  padding: 10px 52px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.send:hover, .send:focus {
  background-color: var(--color-hover-button);
}

.modalForm__send {
  padding: 10px 52px;
}

.hero {
  max-width: 1600px;
  text-align: center;
  background-color: var(--background-color-hero);
  background-image: var(--bg-gradient), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-2x.jpg);
  }
}

.hero-section {
  margin: 0 auto;
  padding: 118px 0;
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding: 200px 0;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-white-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3;
    max-width: 696px;
  }
}

.order-service {
  color: var(--secondary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.order-service:hover, .order-service:focus {
  background-color: var(--color-hover-button);
}

.hero__order-service {
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__order-service {
    padding: 10px 32px;
  }
}

.peculiarities {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.peculiarities__item {
  width: 100%;
}
.peculiarities__item::before {
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background: var(--background-section-team);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
@media screen and (min-width: 768px) {
  .peculiarities__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__item {
    width: calc((100% - 90px) / 4);
  }
}

.icon-antena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.peculiarities__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .peculiarities__title {
    text-align: left;
  }
}

.peculiarities__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-occupation {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-occupation {
    display: block;
    padding-bottom: 95px;
  }
}

.d {
  font-size: 40px;
}

.occupation {
  display: flex;
}

.occupation__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.occupation__item:last-child {
  margin-right: 0;
}

.occupation__wrapper {
  position: relative;
}

.occupation__wrapper-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.occupation__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-white-color);
}

.occupation__wrapper-text > .occupation__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team-section {
  background-color: var(--background-section-team);
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    flex-wrap: nowrap;
  }
}

.team__item {
  text-align: center;
  background-color: var(--secondary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__list {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.team__item-icon {
  height: 44px;
}

.team__link {
  margin: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function);
}
.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
}

.team__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}
.team__link:hover .team__icon, .team__link:focus .team__icon {
  fill: var(--secondary-white-color);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.filters {
  display: flex;
  justify-content: center;
}

.portfolio__filters {
  margin-bottom: 50px;
}

.filters__item + .filters__item {
  margin-left: 10px;
}

.filter-btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  display: block;
  text-align: center;
  min-width: 73px;
  border-radius: 4px;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--secondary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filters__filter-btn {
  padding: 6px 22px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.cards__link:hover, .cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__wrapper {
  position: relative;
  overflow: hidden;
}

.cards__animation {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
}
.cards__link:hover .cards__animation, .cards__link:focus .cards__animation {
  transform: translateY(0);
}

.cards__content {
  padding: 20px 24px;
  border-left: var(--border-image);
  border-right: var(--border-image);
  border-bottom: var(--border-image);
}
.cards__link:hover .cards__content, .cards__link:focus .cards__content {
  border: transparent;
}

.cards__item {
  width: calc((100% - 60px) / 3);
}

.cards__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.cards__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-white-color: #ffffff;
  --background-color-hero: #c4c4c4;
  --background-color-footer: #2f303a;
  --color-logo: #000000;
  --color-hover-button: #188ce8;
  --background-section-team: #f5f4fa;
  --footer-link: rgba(255, 255, 255, 0.6);
  --border-header: 1px solid #ececec;
  --border-image: 1px solid #eeeeee;
  --icon-color: #afb1b8;
  --icon-footer-color: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.header-page {
  border-bottom: var(--border-header);
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header-page {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.container-header {
  display: flex;
}

.container-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__part--black {
  color: var(--color-logo);
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.container-nav__navigation {
  margin-left: 88px;
}
@media screen and (min-width: 1200px) {
  .container-nav__navigation {
    margin-left: 90px;
  }
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.navigation__link.current {
  color: var(--accent-color);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .navigation__link.current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

.contactList {
  display: none;
}
@media screen and (min-width: 768px) {
  .contactList {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .contactList {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contactList__item + .contactList__item {
    margin-left: 50px;
  }
}

.contactList__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contactList__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.contactList__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);
}
.contactList__link:hover, .contactList__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contactList__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contactList__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contactList__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}
.contactList__link:hover .contactList__icon, .contactList__link:focus .contactList__icon {
  fill: currentColor;
}

.contactList__icon.mail {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contactList__icon.mail {
    width: 16px;
    height: 12px;
  }
}

.contactList__icon.phone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contactList__icon.phone {
    width: 10px;
    height: 16px;
  }
}

.menu-open-btn {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-close-btn {
    display: none;
  }
}

.menu-close__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.menu-close__icon:hover, .menu-close__icon:focus {
  fill: var(--accent-color);
}
.menu-close-btn:hover .menu-close__icon, .menu-close-btn:focus .menu-close__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu {
  position: fixed;
  top: 0;
  padding: 48px 40px;
  background-color: white;
  width: 100vw;
  height: 100vh;
}
.mob-menu > .container {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu__list {
  margin-bottom: 100px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__link.current {
  color: var(--accent-color);
}

.mob-conect {
  margin-bottom: 64px;
}

.mob-conect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-conect__mail {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.mob-conect__mail:hover, .mob-conect__mail:focus {
  color: var(--accent-color);
}

.mob-conect__tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.mob-conect__tel:hover, .mob-conect__tel:focus {
  color: var(--accent-color);
}

.mob-soc {
  display: flex;
}

.mob-soc__item:not(:last-child) {
  margin-right: 10px;
}

.line::after {
  content: "";
  margin-left: 10px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.footer-section {
  padding: 60px 0;
  background: var(--background-color-footer);
}

.footer-container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

.footer-adress-lincs {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-adress-lincs {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-adress-lincs {
    margin-bottom: 0;
  }
}

.footer-container__footer-wrapper {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-container__footer-wrapper {
    margin-bottom: 0;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container__footer-wrapper {
    margin-right: 70px;
  }
}

.footer-wrapper__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__part--white {
  color: var(--secondary-white-color);
}

.footerContact {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footerContact {
    text-align: left;
  }
}

.footerContact__item {
  margin-bottom: 9px;
}

.footerContact__address {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.footerContact__address:hover, .footerContact__address:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footerLinks {
    margin-right: 93px;
  }
}

.footerContact__link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.footerContact__link:hover, .footerContact__link:focus {
  color: var(--accent-color);
}

.footerLinks__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-white-color);
}

.footerLinks__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footerLinks__item {
  height: 44px;
}

.footerLinks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--icon-footer-color);
  transition: background-color 250ms var(--timing-function);
}
.footerLinks__link:hover, .footerLinks__link:focus {
  background-color: var(--accent-color);
}

.footerLinks__icon {
  fill: var(--secondary-white-color);
}

/* форма футера */
@media screen and (min-width: 1200px) {
  .footerForm {
    display: flex;
    align-items: flex-end;
  }
}

.footerForm__field {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footerForm__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.footerForm__label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footerForm__input {
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  left: 815px;
  top: 2784px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--secondary-white-color);
}
.footerForm__input:focus {
  outline: 1px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .footerForm__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footerForm__input {
    width: 358px;
  }
}

.footerForm__field input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footerForm__field input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footerForm__field input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe {
  height: 50px;
  display: flex;
  align-items: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.subscribe:hover, .subscribe:focus {
  background-color: var(--color-hover-button);
}

.footerForm__subscribe {
  padding: 10px 31px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footerForm__subscribe {
    padding: 10px 28px;
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */