.peculiarities {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.peculiarities__item {
  width: 100%;
  &::before {
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background: var(--background-section-team);
    background-repeat: no-repeat;
    background-position: center;

    display: block;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.icon-antena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.peculiarities__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.peculiarities__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
