.container {
  margin-left: auto;
  margin-right: auto;
  // width: 1200px;
  padding: 10px 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
