:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-white-color: #ffffff;
  --background-color-hero: #c4c4c4;
  --background-color-footer: #2f303a;
  --color-logo: #000000;
  --color-hover-button: #188ce8;
  --background-section-team: #f5f4fa;
  --footer-link: rgba(255, 255, 255, 0.6);
  --border-header: 1px solid #ececec;
  --border-image: 1px solid #eeeeee;
  --icon-color: #afb1b8;
  --icon-footer-color: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
